body {
  text-align: center;
}

/*/////// FLOWER DATA /////////*/

.flower-data {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.flower-data table {
  background-color: rgba(255,255,255,0.7);
}

/*////// UPPER-RIGHT FORM ///////*/

.repo-form {
  position: fixed;
  top: 15px;
  right: 15px;
}

.repo-form .btn-primary {
  letter-spacing: 1.0px;
}

.clone-button {
  width: 145px;
}

.update-button,
.delete-button {
  width: 70px;
}

.repo-form label {
  font-weight: bold;
  color: #3e3e3e;
  margin: 0;
}

.repo-form td {
  padding: 5px 6px
}

.repo-form td:nth-child(1) {
  text-align: right;
}

.repo-form td:nth-child(2) {
  text-align: left;
}

.repo-form td:nth-child(3) {
  text-align: left;
}

.repo-form input,
.repo-form select {
  margin: 0;
}

.repo-form .two-col {
  width: 375px;
}

/*///////// VISUALIZATION /////////*/

#visualization > svg > rect {
  stroke: none !important;
  overflow: auto;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/*//////// TERMINAL /////////*/

.flower-terminal {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 29px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  border-top-left-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.flower-terminal.open {
  height: 500px;
}

.terminal-head {
  cursor: pointer;
  height: 21px;
  padding: 4px 10px 4px 12px;
  border-bottom: 1px white solid;
}

.arrow {
  line-height: 27px;
}

.flower-terminal.open .terminal-head .arrow {
  line-height: 18px;
  transform: rotate(180deg);
}

.terminal-body {
  position: absolute;
  top: 38px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow-y: scroll;
  word-break: break-word;
}

/*//////////// DELTE DB BUTTON /////////////*/

.delete-db {
  position: fixed;
  left: 10px;
  bottom: 10px;
}




