body {
  text-align: center;
  font-family: 'Rosario', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-form {
  display: inline;
}

.nav-form .dropdown {
  margin: 20px;
  font-size: 12px;
}

.clone-form {
  display: inline;
  margin: 20px;
}

.clone-form label {
  font-weight: bold;
  color: #3e3e3e;
}

.clone-form .url-input {
  width: 300px;
}

.btn-primary {
  letter-spacing: 1.0px;
}


/*///////// VISUALIZATION /////////*/

#visualization > svg > rect {
  stroke: none !important;
  overflow: auto;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/*//////// TERMINAL /////////*/

.flower-terminal {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 29px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  border-top-left-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.flower-terminal.open {
  height: 500px;
}

.terminal-head {
  cursor: pointer;
  height: 21px;
  padding: 4px 10px 4px 12px;
  border-bottom: 1px white solid;
}

.arrow {
  line-height: 27px;
}

.flower-terminal.open .terminal-head .arrow {
  line-height: 18px;
  transform: rotate(180deg);
}

.terminal-body {
  position: absolute;
  top: 38px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow-y: scroll;
}
