<div class="contact-me">  
  <div class="contact-section">
    <p>Comments, questions, bug reports, hiring? Contact me at <a href="mailto:jake.mensch@gmail.com">jake.mensch@gmail.com</a>, or just write something here.</p>
    <textarea ng-model="emailText" resizeable="false"></textarea>
    <button ng-disabled="emailDisabled || !emailText" ng-click="sendEmail(emailText)" class="btn btn-primary">Submit</button>
    <span "email-status">{{emailStatus}}</span>
  </div>
  
  <hr>

  <div class="factory-reset">
    <button class="btn btn-danger" ng-click="deleteDB()">Factory Reset</button>
    <span class="warning">This will delete all your data and restore the app to its original state.</span>
  </div>
</div>