<div class="credentials-modal">
  <div class="instructions">
    <p>The git clone url you entered &mdash;</p>
    <p class="center"><b>{{gitUrl}}</b></p>
    <p>&mdash; is not the url of a public git repository. Please enter the following to attempt authorized access. This app will not store your credentials.</p> 
  </div>

  <table>
    <tr>
      <td>git username:</td>
      <td><input type="text" ng-model="username" /></td>
    </tr>
    <tr>
      <td>git password:</td>
      <td><input type="password" ng-model="password" /></td>
    </tr>
    <tr ng-show="needHTTPS">
      <td>https url:</td>
      <td><input type="text" ng-model="url" /></td>
    </tr>
  </table>
  
  <div class="modal-buttons">
    <button ng-click="clone()" class="btn btn-primary">Continue Clone</button>
    <button ng-click="abort()" class="btn btn-primary">Abort Clone</button>
  </div>
</div>