<div class="ignored-files">
  <p>
    Missing files in your flower? The 
    <a href="https://github.com/AlDanial/cloc#Languages" target="_blank">cloc</a> 
    program ignores certain files for various reasons. It also tells you why.
  </p>
  <div class="label-with-select">
    <label>Repo</label>
    <select 
      ng-model="selectedRepo"
      ng-change="displayIgnored(selectedRepo)"
      class="form-control">
      <option 
        ng-repeat="name in repoNames" 
        value="{{name}}"
        ng-bind="name" />
    </select>
  </div>
  <div class="ignored-text" ng-bind-html="ignoredText"></div>
</div>