<div class="user-prefs">
  <div class="prefs">
<!--     <div class="pref label-with-select">
      <label>Color Scheme</label>
      <select 
        ng-model="selectedScheme" 
        ng-options="scheme for scheme in colorSchemes" 
        class="form-control">
      </select>
    </div> -->

    <div class="buttons">
      <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
      <button class="btn btn-primary" ng-click="savePrefs()">Apply</button>
    </div>
  </div>
</div>