.app-container.bumblebee {
  @include backgroundColor(black);
  @include textColor(white);

  /* the circle around the files */
  circle.node {
    stroke: #ccc;
    stroke-width: 0.5px;
  }

  /* the circle around the folders */
  circle.node.directory {
    stroke: #9ecae1;
    stroke-width: 0px;
    fill: #F5EA14;
  }

  /* the loc text */
  .nodetext {
    text-shadow: 0 0 0.2em white;
  }

  /* the straight lines between nodes */
  line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: .5px;
  }

  .flower-languages {
    table tr.highlight {
      background-color: rgba(255, 255, 255, 0.5);
    }
    td:last-child,
    th:last-child {
      display: none;
    }
  }
}