.app-container.periwinkle {
  //@include backgroundColor(#fff);
  
  .background {
    @include graphBackground;
    opacity: 0.5;
  }

  .flower-languages,
  .flower-control {
    background-color: transparentize(#fff, 0.5);
  }

  .flower-languages table tr.highlight {
    background-color: rgba(175, 175, 175, 0.5);
  }

  /* the circle around the files */
  circle.node {
    stroke: #000;
    stroke-width: .5px;
  }

  /* the circle around the folders */
  circle.node.directory {
    stroke: #9ecae1;
    stroke-width: 2px;
    fill: #ededed;
  }

  /* the loc text */
  .nodetext {
    fill: #252929;
    font-weight: bold;
    text-shadow: 0 0 0.2em white;
  }

  /* the straight lines between nodes */
  line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }
}