.app-container.rainbow {
  @include backgroundColor(#333);
  @include textColor(white);

  /* the circle around the files */
  circle.node {
    stroke: #000;
    stroke-width: .5px;
  }

  /* the circle around the folders */
  circle.node.directory {
    stroke: none;// #9ecae1;
    stroke-width: 2px;
    fill: none;//#ededed;
  }

  /* the loc text */
  .nodetext {
    //font-weight: bold;
    //text-shadow: 0 0 0.2em white;
  }

  /* the straight lines between nodes */
  line.link {
    fill: none;
   // stroke: #9ecae1;
    stroke-width: 1.5px;
  }

  .flower-languages table tr.highlight {
    background-color: rgba(255, 255, 255, 0.5);
  }
}