<div class="flower-languages">
  <table class="table">
    <thead>
      <tr>
        <th>Language</th>
        <th>Files</th>
        <th>Lines</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in languages">
        <td>{{key}}</td>
        <td>{{value.files}}</td>
        <td>{{value.lines}}</td>
        <td>
          <span class="color-indicator"
                ng-style="{'background-color': value.color}" />
        </td>
      </tr>
    </tbody>
  </table>
</div>