<div class="flower-languages">
  <table class="table">
    <thead>
      <tr>
        <th ng-click="setSort('language')">Language</th>
        <th ng-click="setSort('files')">Files</th>
        <th ng-click="setSort('lines')">Lines</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        ng-repeat="lang in languages" 
        ng-mouseenter="mouseEnter($event, lang)" 
        ng-mouseleave="mouseLeave($event, lang)"
        ng-class="{'highlight': lang.highlighted}">
        <td>{{lang.language}}</td>
        <td>{{lang.files}}</td>
        <td>{{lang.lines}}</td>
        <td>
          <span 
            class="color-indicator"
            ng-style="{'background-color': lang.color}" />
        </td>
      </tr>
      <tr>
        <td>Totals</td>
        <td>{{totals.files}}</td>
        <td>{{totals.lines}}</td>
        <td></td>
    </tbody>
  </table>
</div>