<div class="flower-container">
  <div class="header">
    <form class="nav-form">
      <select ng-model="selectedFolder" 
              ng-change="redrawFlower(selectedFolder)" 
              class="dropdown pull-left">
        <option ng-repeat="path in folderPaths" 
                value="{{path}}" 
                ng-bind="path"></option>
      </select>
    </form>
    <form class="clone-form pull-right form-inline">
      <div class="form-group ">
        <label>git clone</label>
        <input type="text" class="url-input form-control" ng-model="giturl"></input>  
        <button class="btn btn-primary" ng-click="cultivateFlower()">Flower!</button>
      </div>
    </form>
  </div>

  <flower-viz></flower-viz>
  <flower-terminal></flower-terminal>
</div>