<div class="flower-container">
  <div class="flower-data">
    <table class="table">
      <thead>
        <tr>
          <th>Language</th>
          <th>Files</th>
          <th>Lines</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in languages">
          <td>{{key}}</td>
          <td>{{value.files}}</td>
          <td>{{value.lines}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="repo-form">
    <table>
      <tr>
        <td><label>Add new repo</label></td>
        <td>
          <input type="text" 
                 class="url-input form-control" 
                 ng-model="giturl" 
                 placeholder="git clone url"></input>
        </td>
        <td>
          <button class="btn btn-primary" 
                  ng-click="cloneFlower()">
            git clone
          </button>
        </td>
      </tr>
      <tr>
        <td><label>Current repo</label></td>
        <td>
          <select ng-model="selectedRepo"
                  ng-change="switchRepos(selectedRepo)"
                  class="dropdown">
           <option ng-repeat="name in repoNames" 
                   value="{{name}}"
                   ng-bind="name"></option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" 
                  ng-click="pullFlower()">
            git pull
          </button>
        </td>
      </tr>
      <tr>
        <td><label>Current folder</label></td>
        <td colspan="2">
          <select ng-model="selectedFolder" 
                  ng-change="redrawFlower(selectedFolder)" 
                  class="dropdown two-col">
            <option ng-repeat="path in folderPaths" 
                    value="{{path}}" 
                    ng-bind="path"></option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <flower-viz></flower-viz>
  <flower-terminal></flower-terminal>
</div>