.credentials-modal {
  .instructions {
    text-align: left;
    .center {
      text-align: center;
      word-break: break-word;
    }
  }
  table {
    margin: 15px auto 8px;
  }
  input {
    margin-bottom: 0;
    width: 250px;
  }
  td {
    padding-bottom: 10px;
    white-space: nowrap;
  }
  td:nth-child(1) {
    text-align: left;
    padding-right: 15px;
    font-weight: bold;
  }
}