.ignored-files {
  height: 100%;
  overflow: hidden;
  .label-with-select {
    margin-bottom: 8px;
    select {
      width: 230px;
    }
  }
  .ignored-text {
    height: calc(100% - 50px);
    overflow: auto;
    word-wrap: break-word;
  }
}