.main-modal {
  width: 600px;
  height: 480px;
  text-align: left;

  .close-button {
    position: absolute; 
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #565656;
  }

  .about-tab {
    height: 100%;
    overflow: hidden;
    .about-content {
      height: 100%;
      overflow-y: scroll;
      padding-right: 10px;
    }
  }
}