.app-container {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
  }
  .open-modal {
    position: fixed;
    left: 15px;
    bottom: 15px;
  }
}