body {
  text-align: center;
  padding: 0;
}

// bootstrap override
select {
  outline: none !important;
}

.label-with-select {
  label {
    font-weight: bold;
    display: inline-block;
    padding-right: 8px;
  }
  select.form-control {
    margin-bottom: 2px;
  }
}
