
@mixin backgroundColor($color) {
  background-color: $color;
  .flower-languages {
    background-color: transparentize($color, 0.3);
  }
  .flower-control {
    background-color: transparentize($color, 0.3);
  }
  #visualization {
    & > svg > rect {
      fill: $color;
    }
  }
}

@mixin textColor($color) {
  .flower-languages table {
    color: $color;
  }
  .flower-control label {
    color: $color;
  }
  .nodetext {
    fill: $color;
  }
}