.contact-me {
  .contact-section {
    textarea {
      display: block;
      width: calc(100% - 20px);
      height: 250px;
      resize: none;
    }
    .btn {
      margin-right: 10px;
    }
  }
  hr {
    margin-top: 25px;
    border-top: 1px solid #b1b1b1;
  }
  .factory-reset {
    display: table;
    width: 100%;
    & > * {
      display: table-cell;
      vertical-align: middle;
    }
    .btn {
      white-space: nowrap;
    }
    .warning {
      text-align: left;
    }
  }
}