.credentials-modal {
  padding: 15px;

  table {
    margin: 8px auto 2px;
  }

  input {
    margin-bottom: 0;
    width: 350px;
  }

  td {
    padding-bottom: 10px;
  }

  td:nth-child(1) {
    text-align: left;
    padding-right: 15px;
    font-weight: bold;
  }
}