.flower-terminal {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 29px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  border-top-left-radius: 10px;
  transition: all 0.5s ease-in-out;

  &.safari {
    right: 10px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 105, 180, 1.0);
    border-radius: 4px;
  }

  .terminal-head {
    cursor: pointer;
    height: 21px;
    padding: 4px 10px 4px 12px;
    border-bottom: 1px white solid;
    .arrow {
      line-height: 27px;
    }
  }

  .terminal-body {
    position: absolute;
    top: 38px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    padding-right: 6px;
    overflow-y: auto;
    word-break: break-word;
  }

  &.open {
    height: 500px;
    .terminal-head .arrow {
      line-height: 18px;
      transform: rotate(180deg);
    }
  }
}