.flower-languages {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
  border-radius: 6px;
  max-height: calc(100% - 80px);
  overflow: auto;

  table {
    margin-bottom: 0;
    tr {
      cursor: pointer;
    }
    th:not(:last-child) {
      cursor: pointer;
      user-select: none;
    }
    td {
      vertical-align: middle;
      position: relative;
    }
    .color-indicator {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 8px;
      left: 15px;
      border-radius: 12px;
    }
    tr:last-child td {
      font-weight: bold;
    }
  }
}