.ignored-files {
  height: 100%;
  overflow: hidden;
  .label-with-select {
    margin-bottom: 8px;
  }
  .ignored-text {
    height: calc(100% - 50px);
    overflow: scroll;
    word-wrap: break-word;
  }
}