#visualization {
  & > svg > rect {
    stroke: none !important;
    fill: none;             // makes the svg background transparent (at least in chrome)
    overflow: auto;
  }

  circle.node {
    cursor: pointer;
  }

  //// ORIGINAL CSS ////
  // these styles are now defined 
  // in the colorScheme files

  // /* the circle around the files */
  // circle.node {
  //   cursor: pointer;
  //   stroke: #000;
  //   stroke-width: .5px;
  // }

  // /* the circle around the folders */
  // circle.node.directory {
  //   stroke: #9ecae1;
  //   stroke-width: 2px;
  // }

  // /* the loc text */
  // .nodetext {
  //   fill: #252929;
  //   font-weight: bold;
  //   text-shadow: 0 0 0.2em white;
  // }

  // /* the straight lines between nodes */
  // line.link {
  //   fill: none;
  //   stroke: #9ecae1;
  //   stroke-width: 1.5px;
  // }
}